mkdocs-blogging-plugin
mkdocs-callouts
mkdocs-material
mkdocs-minify-plugin
mkdocs-glightbox
mkdocs-video
mkdocs-rss-plugin
mkdocs-document-dates>=3.4.9
mkdocs-statistics-plugin
dashscope
mkdocs-ai-summary
#rich # for mkdocs-toc-plugin
